<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/csa</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.show_sql">false</property>

		<!-- <property name="hibernate.current_session_context_class">thread</property> -->
		<property name="hbm2ddl.auto">create</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>

		<!-- <mapping class="com.csa.entity.Bowl_by_bowl_details"/> -->

		<mapping class="com.csa.entity.Bowl" />
		<mapping class="com.csa.entity.Innings" />
		<mapping class="com.csa.entity.Result" />
		<mapping class="com.csa.entity.Team" />
		<mapping class="com.csa.entity.Wicket" />
		<mapping class="com.csa.entity.MatchDetails" />
		<mapping class="com.csa.visualization.BatsmansInning" />
		<mapping class="com.csa.visualization.InningByInningsResults" />
		<mapping class="com.csa.player.entity.Bowler"/>
		

	</session-factory>
</hibernate-configuration>
